{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h2>Search</h2>
<form method="GET">
<table>
 <tr><th align=right> Search in:                </th><td>
  <select name="i">
   {% for label in labels %}
    <option value="{{label}}"
     {% if (label == request.args.i) %}
      selected="selected"
     {% endif %} >
     {{label}}
    </option>
   {% endfor %}
  </select>
 </td></tr>
 <tr><th align=right> Tag:                      </th><td>
  <select name="t">
   {% for tag in tags %}
    <option value="{{tag}}"
     {% if (tag == request.args.t) %}
      selected="selected"
     {% endif %} >
     {{tag}}
    </option>
   {% endfor %}
  </select>
 </td></tr>
 <tr><th align=right> Starting with (or RegEx): </th><td> <input type=input name=q value='{{ request.args.q or ".*" }}'> </td></tr>
 <tr><th align=right> Filter(s):                </th><td> <input type=input name=f value='{{ request.args.f }}'> </td></tr>
 <tr><th align=right> Output:                   </th><td> 
  <input type="checkbox" name="o" value="table"
   {% if request.args.o == "table" %}
    checked
   {% endif %}
  > Table
 <tr><th>                           </th><td> <input type=submit value='Search'> </td></tr>
</table>
</form>

{% if request.args.q or request.args.f %}
 <h2>Results for {{ request.args.q | e }} {{ request.args.f | e }}</h2>
 {% if request.args.o == "table" and ( request.args.t == '.' or request.args.t == '' or request.args.t is not defined ) %}
  <table border=2>
    <tr><th colspan=2>Host</th><th colspan=2>Internal</th><th colspan=2>External</th><th>Documents</th></tr>
  {% for id, item in results.items() %}
    <tr>
     <td><a href="{{ url_for('detail', id=id) }}">{{ id }}</a></td>
     <td>{% if item[labels[1]] is defined %}{% for i in item[labels[1]] %}{{i.info}}{% endfor %}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% for i in item[labels[2]] %}{% if i[tags[1]] is defined %}<a href="{{ url_for('index', o='table', f=labels[2] + ':' + tags[1] + '=' + i[tags[1]] ) }}">{{ i.service }}</a>{% endif %}{% endfor %}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% for i in item[labels[2]] %}{% if i[tags[2]] is defined %}<a href="{{ url_for('index', o='table', f=labels[2] + ':' + tags[2] + '=' + i[tags[2]] ) }}">{{ i.user    }}</a>{% endif %}{% endfor %}{% endif %}</td>
     <td>{% if item[labels[3]] is defined %}{% for i in item[labels[3]] %}{% if i[tags[1]] is defined %}<a href="{{ url_for('index', o='table', f=labels[3] + ':' + tags[1] + '=' + i[tags[1]] ) }}">{{ i.service }}</a>{% endif %}{% endfor %}{% endif %}</td>
     <td>{% if item[labels[3]] is defined %}{% for i in item[labels[3]] %}{% if i[tags[2]] is defined %}<a href="{{ url_for('index', o='table', f=labels[3] + ':' + tags[2] + '=' + i[tags[2]] ) }}">{{ i.user    }}</a>{% endif %}{% endfor %}{% endif %}</td>
     <td>{% if item[labels[4]] is defined %}{% for i in item[labels[4]] %}<a href="{{ url_for('doc', doc=labels[4], id=i ) }}">{{i}}</a> &nbsp; {% endfor %}{% endif %}</td>
   </tr>
  {% else %}
   <tr><td>No results.</td></tr>
  {% endfor %}
  </table>
 {% else %}
  <ul>
  {% for item in resultkeys %}
   {% if request.args.t == '.' or request.args.t == '' or request.args.t is not defined %}
    <li><a href="{{ url_for('detail', id=item) }}">{{ item }}</a></li> 
   {% else %}
    <li><a href="{{ url_for('index', o='table', f=request.args.t + '=' + item) }}">{{ item }}</a></li> 
   {% endif %}
  {% else %}
   No results.
  {% endfor %}
  </ul>
 {% endif %}
{% endif %}

{% endblock content %}
