{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h2>Search</h2>
<form method="GET">
<table>
 <tr><th align=right> Search in:                </th><td>
  <select name="i">
   {% for label in labels %}
    <option value="{{label}}"
     {% if (label == request.args.i) %}
      selected="selected"
     {% endif %} >
     {{label}}
    </option>
   {% endfor %}
  </select>
 </td></tr>
 <tr><th align=right> Tag:                      </th><td>
  <select name="t">
   {% for tag in tags %}
    <option value="{{tag}}"
     {% if (tag == request.args.t) %}
      selected="selected"
     {% endif %} >
     {{tag}}
    </option>
   {% endfor %}
  </select>
 </td></tr>
 <tr><th align=right valign=top> Starting with (or RegEx): </th><td> <textarea name=q rows='5' cols='50'>{{ request.args.q or "*" }}</textarea> <br>(separate multiple search string with whitespace, uses "or" conjunction)</td></tr>
 <tr><th align=right valign=top> Filter(s):                </th><td> <input type=input name=f size='50' value='{{ request.args.f }}'> <br>(separate multiple filters by whitespace, uses "and" conjunction)</td></tr>
 <tr><th align=right> Output:                   </th><td> 
  <input type="radio" name="o" value="list"
   {% if request.args.o == "list" or request.args.o is not defined %}
    checked
   {% endif %}
  >List
  <input type="radio" name="o" value="table"
   {% if request.args.o == "table" %}
    checked
   {% endif %}
  > Table
  <input type="radio" name="o" value="yaml"
   {% if request.args.o == "yaml" %}
    checked
   {% endif %}
  > YAML
 <tr><th>                           </th><td> <input type=submit value='Search'> </td></tr>
</table>
</form>

<script>
$('form').keydown(function(event) {
 if (event.ctrlKey && event.keyCode === 13) {
  $(this).trigger('submit');
 }
})
$('[name="q"]').focus();
</script>

{% if request.args.q or request.args.f %}

{% set currfilter = '' %}
{% if request.args.f %}
{%  set currfilter = request.args.f + ' ' %}
{% endif %}

 <h2>Results for {{ request.args.q | e }} {{ request.args.f | e }}</h2>
 {% if request.args.o == "table" and ( request.args.t == '.' or request.args.t == '' or request.args.t is not defined ) %}
  <table class="results">
    <tr><th colspan=2>{{labels[1]}}</th><th colspan=4>{{labels[2]}}</th><th colspan=2>{{labels[3]}}</th><th>{{labels[4]|trim('_')}}</th></tr>
    <tr><th>key</th><th>{{tags[4]}}</th><th>{{tags[1]}}</th><th>{{tags[2]}}</th><th>{{tags[3]}}</th><th>{{tags[4]}}</th><th>{{tags[1]}}</th><th>{{tags[2]}}</th><th></th></tr>
  {% for id, item in results.items() %}
    <tr>
     <td><a href="{{ url_for('detail', id=id) }}">{{ id }}</a></td>
     <td>{% if item[labels[1]] is defined %}{{item[labels[1]].info|join(' ')}}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% if item[labels[2]][tags[1]] is defined %}{% for i in item[labels[2]][tags[1]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[2] + ':' + tags[1] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% if item[labels[2]][tags[2]] is defined %}{% for i in item[labels[2]][tags[2]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[2] + ':' + tags[2] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% if item[labels[2]][tags[3]] is defined %}{% for i in item[labels[2]][tags[3]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[2] + ':' + tags[3] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[2]] is defined %}{% if item[labels[2]][tags[4]] is defined %}{% for i in item[labels[2]][tags[4]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[2] + ':' + tags[4] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[3]] is defined %}{% if item[labels[3]][tags[1]] is defined %}{% for i in item[labels[3]][tags[1]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[3] + ':' + tags[1] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[3]] is defined %}{% if item[labels[3]][tags[2]] is defined %}{% for i in item[labels[3]][tags[2]] %}<a href="{{ url_for('index', o='table', f=currfilter + labels[3] + ':' + tags[2] + '=' + i ) }}">{{ i }}</a> {% endfor %}{% endif %}{% endif %}</td>
     <td>{% if item[labels[4]] is defined %}{% for i in item[labels[4]] %}<a href="{{ url_for('doc', doc=labels[4], id=i ) }}">{{i.split('/')[0]}}</a> &nbsp; {% endfor %}{% endif %}</td>
   </tr>
  {% endfor %}
  <tr><td colspan=9>{{results|length}} results.</td></tr>
  </table>

 {% else %}

 {% set inputspec = '' %}
 {% if request.args.i %}
 {%  set inputspec = request.args.i + ':' %}
 {% endif %}

  <ul>
  {% for item in resultkeys %}
   {% if request.args.t == '.' or request.args.t == '' or request.args.t is not defined %}
    {% if request.args.i != request.args.i |trim('_') %}
     <li><a href="{{ url_for('doc', doc=request.args.i, id=results[item][request.args.i].keys()|first) }}">{{ results[item][request.args.i].keys() | first}}</a></li> 
    {% else %}
     <li><a href="{{ url_for('detail', id=item) }}">{{ item }}</a></li> 
    {% endif %}
   {% else %}
    {% if request.args.i != request.args.i |trim('_') %}
     <li><a href="{{ url_for('doc', doc=request.args.i, id=results[item][request.args.i].keys()|first) }}">{{ results[item][request.args.i].keys() | first}}: {{ item }}</a></li> 
    {% else %}
     <li><a href="{{ url_for('index', o='table', f= inputspec + request.args.t + '=' + item|urlencode ) }}">{{ item }}</a></li>
    {% endif %}
   {% endif %}
  {% else %}
   No results.
  {% endfor %}
  </ul>

 {% endif %}
{% endif %}

{% endblock content %}
